@include bgcolor-list();
@include fontcolor-list();
@include padding-list();
@include margin-list();

html {
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);

  @include breakpoint(small only){
    font-size: 16px;
  }
}

*:focus{
  outline: none!important;
}

body, html {
  overflow: hidden;
  .off-canvas-content, main{
    overflow: hidden;
  }
}

#container-scroll {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    transform:translate3d(0,0,0);
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
}

// divider
hr.divider{
  border-top: none;
  border-bottom: none;
  margin-bottom: rem-calc(40);
}

//Image around

.image-round {
  border-radius: 100%;
  width: rem-calc(60);
  height: rem-calc(60);
  overflow: hidden;

  &.profile {
    width: rem-calc(60);
    height: rem-calc(60);
  }
}

//

.my-sizer-element {
  width: 300px;
}

// OVERLAY
.overlay,.overlay-primary,.overlay-secondary,.overlay-white{
  position: relative;
  background-size: cover;
  background-position: center center;
  &:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .6;
    z-index: 1;
  }
  &.overlay-primary{
    &:before{
      background: $primary-color;
    }
  }
  &.overlay-secondary{
    &:before{
      background: $secondary-color;
    }
  }
  &.overlay-white{
    &:before{
      background: $white;
    }
  }
  .grid-container{
    position: relative;
    z-index: 1;
  }
}

address{
  font-style: normal;
}

.badge{
  font-size: rem-calc(12);
  min-width: rem-calc(36);
  min-height: rem-calc(36);
  max-height: rem-calc(36);
  padding: rem-calc(12) 0;
  margin-left: 10px;
  line-height: rem-calc(12);
  font-family: $header-font-family;
}


.fluidbox--closed .fluidbox__ghost{
  transform: translate(0px, 0px) scale(0, 0);
}

