<h4>Archives</h4>
{{ $type := "news" }}
{{ $year := "" }}
{{ $.Scratch.Set "count" 1 }}
{{ $.Scratch.Set "monthCount" 1 }}
{{ $.Scratch.Set "year" "" }}
{{ $.Scratch.Set "month" "" }}
{{ $current := . }}
{{ $pages := (where .Site.RegularPages "Type" $type )}}

<ul class="accordion" data-accordion>
    {{ range ($pages.GroupByDate "2006") }}
    {{ if (gt .Key 2000) }}
    {{ range .Pages }}
        {{ if (eq ($.Scratch.Get "count") 1) }}
        {{ $.Scratch.Set "count" 0 }}
        {{ $.Scratch.Set "year" (.Date.Format "2006") }}
    {{ end }}
    {{ end }}

    {{ $.Scratch.Set "count" 1 }}

    {{ $list:= (where .Pages "Type" $type)}}

    <li class="accordion-item {{if eq $current.Params.archy ($.Scratch.Get "year" )}}is-active{{end}}" data-accordion-item> <a href="#" class="accordion-title">{{ $.Scratch.Get "year" }}({{len $list}})</a>

        <div class="accordion-content" data-tab-content>

            <ul class="accordion" data-accordion>
                {{ range ($list.GroupByDate  "Jan" ) }}
                {{ range .Pages}}
                {{ if (eq ($.Scratch.Get "monthCount") 1) }}
                {{ $.Scratch.Set "monthCount" 0 }}
                {{ $.Scratch.Set "month" (.Date.Format "January") }}

                {{end}}
                {{end}}
                {{ $.Scratch.Set "monthCount" 1 }}
                {{ $listMonth:= (where .Pages "Type" $type)}}

                <li class="accordion-item {{if eq $current.Params.archm ($.Scratch.Get "month" )}}is-active{{end}}" data-accordion-item><a href="#" class="accordion-title">{{ $.Scratch.Get "month" }}({{len $listMonth}})</a>
                    <div class="accordion-content" data-tab-content>
                        {{with $listMonth}}
                        <ul class="menu vertical f-c-black">
                            {{range . }}
                            <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
                            {{end}}
                        </ul>
                        {{end}}
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </li>
    {{ end }}
    {{ end }}
</ul>
