{{ "<!-- hero header -->" | safeHTML }}
{{ $p := .parallax | default false}}
{{ $isParent := .Content.IsAncestor .Content.Page}}
<div id="trigger-header" class="master-header full trigger">
    <section id="section-header">
    <div class="hero-header   {{if $p }} rellax {{end}}  container {{if .media.video_active}} video-active {{end}}">
        <div class="hero-header-inner">
            <div class="contentWrapper">
                <div class="grid-container">
                    <div class="grid-y grid-frame  {{if  $p }}rellax{{end}}" {{if  $p }} data-rellax-speed="3" {{end}}>
                        <div class="cell auto cell-block-container">
                            <div class="grid-x align-center-middle p-t-50 " >
                                <div class="cell small-11 large-8">
                                    <div class="grid-x align-center-middle text-center block-anim">
                                        <div class="cell small-12">
                                            {{if $isParent}}
                                            <h4 class="parent-header">{{ .Content.Title | safeHTML}}</h4>
                                            {{end}}
                                        </div>
                                        {{with .Content.Params.video}}
                                        <div id="header-trailer" data-video="{{.}}" class="cell small-12 trailer m-b-50">
                                            <button class="button-trailer">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <circle cx="35" cy="35" r="33" stroke="#FFF" stroke-width="4"/>
                                                        <path fill="#E74F4F" d="M47.431 36.675L30.093 47.983A2 2 0 0 1 27 46.308V23.692a2 2 0 0 1 3.093-1.675L47.43 33.325a2 2 0 0 1 0 3.35z"/>
                                                    </g>
                                                </svg>
                                                <span>Watch the trailer</span>
                                            </button>
                                        </div>
                                        {{end}}
                                        <div class="cell small-12">
                                            {{if $isParent}}
                                                <h1>{{ .Content.Params.subtitle | safeHTML}}</h1>
                                            {{else}}
                                            {{if isset .Content.Params "logo"}}
                                                <img id="header-game-logo" src="{{.Content.Params.logo}}" alt="{{- .Content.Title -}}">
                                            {{else}}
                                                <h1>{{ .Content.Title | safeHTML}}</h1>
                                            {{end}}
                                            {{end}}
                                        </div>

                                        <div id="header-summary" class="cell small-12">
                                            {{if $isParent}}
                                                {{- .Content.Content -}}
                                            {{if eq .Content.Section "careers"}}
                                                <a href="#careers"  data-smooth-scroll class="white hollow button m-t-50">Work with us
                                                    {{ partial "functions/get_count"  ( dict "Context" site)}}
                                                </a>
                                            {{end}}
                                            {{else}}
                                                {{- .Content.Params.summary -}}
                                            {{end}}
                                        </div>

                                        {{if isset .Content.Params "order_status"}}
                                        {{if eq .Content.Params.order_status "Out now"}}
                                        {{with .Content.Params.buy}}
                                        <div id="header-buy" class="cell small-12 m-t-50">
                                            <button id="buy_now" class="white hollow button button-popup" data-popup="buy-popup">Buy now</button>
                                        </div>
                                        {{end}}
                                        {{end}}
                                        {{if eq .Content.Params.order_status "Pre-order"}}
                                        {{with .Content.Params.buy}}
                                        <div id="header-buy" class="cell small-12 m-t-50">
                                            <button id="buy_now" class="white hollow button button-popup" data-popup="buy-popup">Pre-order</button>
                                        </div>
                                        {{end}}
                                        {{end}}
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-pointer">
                            <div class="grid-container">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.5 33.37" width="60"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M1.5,1.5,31.87,31.87M62,1.5,31.63,31.87" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"/></g></g></svg>
                            </div>
                        </div>
                        {{if not .ctx.IsHome }}
                            <div class="cell shrink hide-for-small-only">
                                {{ partial "breadcrumbs" .Content}}
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="imageWrapper" style="background-image: url('{{ .Content.Params.featured_image.src }}')">
            {{if not .Content.Params.featured_image.active}}

            {{ else }}
                {{with .Content.Params.featured_image}}
                <div  class="video-wrapper video-background" data-video="{{ .id }}">
                    <div id="video-player" class="video-foreground responsive-embed"><div id="ytplayer-header" ></div></div>
                </div>
                {{end}}
            {{ end }}
        </div>

    </div>
    </section>
</div>
{{ "<!-- /hero header -->" | safeHTML }}


