{{ "<!-- hero header -->" | safeHTML }}
{{ $p := .parallax | default true}}
<div class="master-header">
    <div class="hero-header {{if $p }} rellax {{end}}  container {{if .media.video_active}} video-active {{end}}">
        <div class="hero-header-inner">
            <div class="contentWrapper">
                <div class="grid-container">
                    <div class="grid-y grid-frame {{if  $p }}rellax{{end}}" data-rellax-speed="-3">
                        <div class="cell auto cell-block-container">
                            <div class="grid-x align-center-middle p-t-50">
                                <div class="cell small-12 medium-10 large-8">
                                    <div class="grid-x align-center-middle text-center">
                                        <div class="cell small-12">
                                            {{if .isParent}}
                                            <h4>{{ .Content.Title | safeHTML}}</h4>
                                            {{end}}
                                        </div>
                                        <div class="cell small-12">
                                            {{if .isParent}}
                                            <h1>{{ .Content.Params.subtitle | safeHTML}}</h1>
                                            {{else}}
                                            <h1>{{ .Content.Title | safeHTML}}</h1>
                                            {{end}}
                                        </div>
                                        <div class="cell small-12">
                                            {{if .isParent}}
                                            <p>
                                                {{- .Content.Content -}}
                                            </p>
                                            {{if eq .Content.Section "careers"}}
                                            <a href="#careers"  data-smooth-scroll class="white hollow button m-t-50">Work with us
                                                {{ partial "functions/get_count"  ( dict "Context" site)}}
                                            </a>

                                            {{end}}
                                            {{else}}
                                                {{- .Content.Params.summary -}}
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell shrink">
                            {{ partial "breadcrumbs" .Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="imageWrapper">
        <img src="{{ .Content.Params.featured_image.src }}" alt="{{ .Content.Params.featured_image.alt }}">
        {{if not .Content.Params.video_active}}
            <div class="desktop {{ if .bg_image_mobile }}hide-for-small{{ end }} {{if $p }} rellax {{end}} "  style="background-image: url('{{ .Content.Params.featured_image.src }}')" data-rellax-speed="-7"></div>
            {{ if .bg_image_mobile }}<div class="mobile"   style="background-image: url('{{ .bg_image_mobile }}')"></div> {{ end }}
        {{ else }}
            <div  class="video-wrapper video-background" data-video="{{ .media.video }}" style="background-image: url('{{ .Content.Params.featured_image.src}}')">
                <div id="video-player" class="video-foreground responsive-embed"><div id="ytplayer" ></div></div>
            </div>
        <script>
        var tag = document.createElement('script');
        var videoPlayer = document.getElementById('video-player');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var video = {{ .media.video }};
        var player;

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                videoId: video,
                width: '100%',
                height: '100%',
                playerVars: {
                    autohide:1,
                    autoplay:1,
                    mute:1,
                    loop:1,
                    controls:0,
                    modestbranding:1,
                    playsinline:1,
                    rel:0,
                    showinfo:0,
                    wmode:'opaque',
                    widgetid:1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        function onPlayerReady(event) {

            player.playVideo()
            player.mute(); // comment out if you don't want the auto played video muted

            setTimeout(function(){videoPlayer.className += ' playing'}, 500);
        }
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
                player.seekTo(0);
                player.playVideo();
            }
        }
        </script>
        {{ end }}
    </div>
    </div>
</div>



