<head>
    <meta charset="utf-8">

    {{ "<!-- CSS -->" | safeHTML }}
    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
    {{/* Attempt to load from CDN. */}}
    {{ $scr := .Scratch }}
    {{ $css := site.Data.assets.css }}

    {{ $scr.Set "use_cdn" 1 }}
    {{ printf "<link rel=\"stylesheet\" href=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\">" (printf $css.fluidbox.url $css.fluidbox.version) $css.fluidbox.sri | safeHTML }}

    {{ if or (eq site.Params.map.engine 2) (eq site.Params.map.engine 3) }}
    {{ printf "<link rel=\"stylesheet\" href=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\">" (printf $css.leaflet.url $css.leaflet.version) $css.leaflet.sri | safeHTML }}
    {{ end }}

    {{ if eq site.Params.search.engine 2 }}
    {{ printf "<link rel=\"stylesheet\" href=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\">" (printf $css.instantsearch.url $css.instantsearch.version) $css.instantsearch.sri | safeHTML }}
    {{ printf "<link rel=\"stylesheet\" href=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\">" (printf $css.instantsearchTheme.url $css.instantsearchTheme.version) $css.instantsearchTheme.sri | safeHTML }}
    {{ end }}

    {{ "<!-- META -->" | safeHTML }}
    {{ partial "head-meta.html" . }}

    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- FAVICONS -->" | safeHTML }}
    {{ partial "favicons.html" . }}

    {{ "<!-- RSS -->" | safeHTML }}
    {{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" href="{{.RelPermalink}}" type="application/rss+xml" title="{{site.Title}}">
    {{ end }}

    {{if not $.Site.Data.gdpr.osana.active }}
    {{ "<!-- GDPR -->" | safeHTML }}
        {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}

    {{ "<!-- GOOGLE -->" | safeHTML }}
    {{ partial "marketing/google-analytics-script.html" . }}
    {{ partial "marketing/google-tag-manager-script.html" . }}

    {{ "<!-- CMS -->" | safeHTML }}
    {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}

    {{ "<!-- PACKAGES -->" | safeHTML }}
    {{/* Load async scripts. */}}
    {{ range $k, $v := site.Data.assets.js }}{{/* TODO: investigate why `where ... "async" true` does not work. */}}
        {{ $load := $v.async }}
        {{ if $load }}
            {{ printf "<script src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\" async></script>" (printf $v.url $v.version) $v.sri | safeHTML }}
        {{end}}
    {{end}}
    {{ "<!-- /PACKAGES -->" | safeHTML }}
</head>


