<div class="grid-container m-t-b-50">
    <form name="knowledge-search" action="">
        <div class="grid-x grid-padding-x text-center align-center">
            <div class="cell auto">
                <select name="plaforms" id="platforms">

                </select>
            </div>
            <div class="cell auto m-b-50">
                <select name="games" id="games">

                </select>
            </div>
            <div class="cell small-12">
                <button class="white hollow button">Search knowledge base</button>
            </div>
        </div>
    </form>
</div>
