<div class="grid-container block full b-c-secondary support-intro">
<div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center">
        <div class="cell small-12 medium-10 large-8">
            {{- .ctx.Content -}}
        </div>
    </div>
</div>
</div>
<app-root></app-root>
<script src="/js/runtime-es2015.js" type="module"></script><script src="/js/runtime-es5.js" nomodule defer></script><script src="/js/polyfills-es5.js" nomodule defer></script><script src="/js/polyfills-es2015.js" type="module"></script><script src="/js/main-es2015.js" type="module"></script><script src="/js/main-es5.js" nomodule defer></script>
