{{$media := .}}
{{with $media.Params.media}}
<div id="media" class="grid-container full block b-c-secondary">
    <div class="grid-container text-center">
        <h2>Media</h2>
        <ul class="tabs" data-tabs id="media-tabs">
            {{with .screenshots}}
                {{if ne (len .) 0 }}
                    <li class="tabs-title is-active"><a href="#screenshots" aria-selected="true">Screenshots</a></li>
                {{end}}
            {{end}}
            {{with .concepts}}
                {{if ne (len .) 0}}
                    <li class="tabs-title"><a data-tabs-target="concepts" href="#concepts">Concepts</a></li>
                {{end}}
            {{end}}
            {{with .videos}}
                {{if ne (len .) 0}}
                    <li class="tabs-title"><a data-tabs-target="videos" href="#videos">Videos</a></li>
                {{end}}
            {{end}}
        </ul>
    </div>
    <div class="grid-container tabs-content" data-tabs-content="media-tabs">
        {{with .screenshots}}
            <div class="tabs-panel is-active" id="screenshots">
                <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-3 align-center-middle">
                    {{range . }}

                        <div class="cell">
                            <a class="image-fancy" href="{{ .src }}" title="{{ .alt }}">
                                <img src="{{ .src }}" alt="{{ .alt }}" title="{{ .alt }}" />
                            </a>
                        </div>

                    {{end}}
                </div>
            </div>
        {{end}}
        {{with .concepts}}
        <div class="tabs-panel" id="concepts">
            <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-3 align-center-middle">
                {{range . }}

                <div class="cell">
                    <a class="image-fancy" href="{{ .src }}" title="{{ .alt }}">
                        <img src="{{ .src }}" alt="{{ .alt }}" title="{{ .alt }}" />
                    </a>
                </div>

                {{end}}
            </div>
        </div>
        {{end}}
        {{with .videos}}
        <div class="tabs-panel" id="videos">
            <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-3 align-center-middle">
                {{range . }}

                <div class="cell">
                    <button class="video-button" data-video="{{.id}}">
                        <img src="{{ .src }}" alt="{{ .alt }}" title="{{ .alt }}" />
                    </button>
                </div>

                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}
