{{ "<!-- navigation - button -->" | safeHTML }}
{{ $url := trim .Context.URL "/"}}
{{ $version := .Version }}

<header id="header-menu" class="nav sticky-container ">
    {{if not site.Data.navigation.active}}
        <div class="top-bar {{if eq $version "trans"}}top-bar-trans{{end}}  sticky hide-for-small show-for-large" >
        <div class="grid-container top-bar-container">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-logo">
                        {{if site.Params.logo_large}}
                        <a href="{{ site.BaseURL }}" rel="home" class="logo-main"><img src="{{ site.Params.logo_large}}" alt="{{ site.Title | safeHTML }}"></a>
                        {{if site.Params.logo_large_invert}}
                        <a href="{{ site.BaseURL }}" rel="home" class="logo-invert"><img src="{{ site.Params.logo_large_invert}}" alt="{{ site.Title | safeHTML }}"></a>
                        {{end}}
                        {{else}}
                        <a href="{{ site.BaseURL | absLangURL }}">
                            {{ site.Title | safeHTML }}
                        </a>
                        {{end}}
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                {{ if not (site.Params.custom_navbar) }}
                {{ if not (site.Params.cms_navbar) }}
                <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ site.BaseURL | absLangURL }}">
                    {{ i18n "home" }} </a>
                    {{ if site.Menus.home}}
                    <ul class="menu submenu" data-smooth-scroll>
                        {{ range site.Menus.home }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{end}}
                    </ul>
                    {{ end}}
                </li>
                {{ end }}
                {{ end }}
                {{ if site.Params.custom_navbar }}
                    {{ range site.Menus.navbar }}
                    <li >
                        <a href="{{.URL}}">
                            {{ .Name }}
                        </a>
                    </li>
                    {{ end }}
                {{ else }}
                    {{ if not (site.Params.cms_navbar) }}
                        {{ range where site.Pages "Type" "!=" "post" }}
                        <li><a href="{{ .Permalink }}">
                            {{ .Title | markdownify}}
                        </a></li>
                        {{ end }}
                    {{else}}

                            {{ range site.Data.navigation.items}}

                            <li class="{{if eq $url ( trim .link "/") }}active{{end}}"><a href="{{ .link }}">
                                {{ .name | markdownify}}{{$url}}
                                {{if eq ( trim .link "/") "careers" }}

                                        {{ partial "functions/get_count"  ( dict "Context" site)}}

                                {{end}}
                            </a></li>
                            {{ end }}

                    {{end}}
                {{ end }}
                {{ if .IsTranslated }}
                <li>
                    <div id="languages">

                        {{ range $i, $e := .Translations }}
                        {{ if $i }}|{{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
                        {{ end}}

                    </div>
                </li>
                {{ end }}
            </ul>
            </div>
        </div>
        </div>
    {{end}}
        <div class="top-bar-small title-bar {{if eq $version "trans"}}top-bar-trans{{end}} {{if not site.Data.navigation.active}} hide-for-large{{end}}" >
            <div class="grid-x align-center-middle">
                <div class="auto cell">
                    {{if site.Params.logo_mobile}}
                    <a href="{{ site.BaseURL }}" rel="home" class="logo-main"><img src="{{ site.Params.logo_mobile}}" alt="{{ site.Title | safeHTML }}"></a>
                    {{else}}
                    <a href="{{ site.BaseURL | absLangURL }}">
                        {{ site.Title | safeHTML }}
                    </a>
                    {{end}}
                </div>
                <div class="shrink cell text-right">
                    <button class="menu-icon" type="button" data-toggle="offCanvas">
                        <img src="/images/menu.svg" alt="Open Menu" aria-label="Open Menu">
                    </button>
                </div>
            </div>
        </div>
        <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
            <div class="grid-container">
                <div class="grid-x align-center-middle" style="height: 85vh">
                    <div class="cell">
                        {{ "<!-- menu  -->" | safeHTML }}
                        <ul class="menu vertical">
                            {{ if not (site.Params.custom_navbar) }}
                            {{ if not (site.Params.cms_navbar) }}
                            <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ site.BaseURL | absLangURL }}">
                                {{ i18n "home" }} </a>
                                {{ if site.menus.home}}
                                <ul class="menu submenu" data-smooth-scroll>
                                    {{ range site.Menus.home }}
                                    <li><a href="{{ .URL }}">{{- .Name -}}</a></li>
                                    {{end}}
                                </ul>
                                {{ end}}
                            </li>
                            {{ end }}
                            {{ end }}
                            {{ if site.Params.custom_navbar }}
                            {{ range site.Menus.navbar }}
                            <li  class="{{if eq $url .link }}active{{end}}" >
                                <a href="{{.URL}}">
                                    {{- .Name -}}
                                </a>
                            </li>
                            {{ end }}
                            {{ else }}
                            {{ if not (site.Params.cms_navbar) }}
                            {{ range where site.Pages "Type" "!=" "post" }}
                            <li class="{{if eq $url .Permalink  }}active{{end}}"><a  href="{{ .Permalink }}">
                                {{ .Title | markdownify}}
                            </a></li>
                            {{ end }}
                            {{else}}

                            {{ range site.Data.navigation.items}}
                            <li class="{{if eq $url ( trim .link "/") }}active{{end}}"><a href="{{ .link }}">
                                {{ .name | markdownify}}
                            </a></li>
                            {{ end }}

                            {{end}}
                            {{ end }}
                            {{ if .IsTranslated }}
                            <li>
                                <div id="languages">

                                    {{ range $i, $e := .Translations }}
                                    {{ if $i }}|{{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
                                    {{ end}}

                                </div>
                            </li>
                            {{ end }}
                        </ul>
                    </div>

                    <div class="cell">
                        {{ "<!-- social -->" | safeHTML }}
                        {{ partial "blocks/block-social-page" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{ "<!-- /navigation - button -->" | safeHTML }}
