{{ with .NextInSection }}
{{ if isset .Params "featured_image" }}
{{$image := .Params.featured_image.src}}
<section>
    <div id="next-article" class="grid-container full block b-c-dark-gray"  onclick="window.location={{ .RelPermalink | safeHTML }};" >
        <div class="content grid-container">
            <div class="grid-x grid-padding-x align-center-middle text-center">
                <div class="cell small-12">
                    <article>
                        <header>
                            <h2>
                                {{- .Title -}}
                            </h2>
                            <div>
                                <a href="{{ .RelPermalink }}" aria-label="View"><i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20" viewBox="0 0 60 20">
                                        <path fill="#E74F4F" fill-rule="evenodd" d="M50 0l-2.108 2.108 6.4 6.401H0v2.982h54.293l-6.401 6.4L50 20l10-10z"/>
                                    </svg>
                                </i></a>
                            </div>
                        </header>
                    </article>
                </div>
            </div>
        </div>
        <div class="image-wrapper" style="background-image: url({{ $image }})">

        </div>
    </div>
</section>
{{end}}
{{end}}
