<!-- Contact -->
<div id="form">
    <h2>Submit a Support Request</h2>
    <h4>General Information</h4>

    <form  id="support-request" name="support-request" method="POST" data-netlify="true" netlify-honeypot="bot-field" >
        <div class="">
            <!-- Game title -->
            <fieldset>
                <label for="game"><span>*</span>Game Title</label>
                <select id="game" name="game">
                        <option value="" disabled selected>Select Title</option>
                        {{$content := where .ctx.Site.RegularPages "Type" "games"}}
                        {{range $content}}
                        <option value="{{.Title}}">{{.Title}}</option>
                        {{end}}
                </select>
            </fieldset>
            <fieldset>
                <label for="platform"><span>*</span>Game Title</label>
                <select id="platform" name="platform">
                    <option value="" disabled selected>Select Platform</option>
                    {{range $key, $value := index .Context.Site.Taxonomies  "games/platforms" }}
                    <option value="{{$key}}">{{$key}}</option>
                    {{end}}
                </select>
            </fieldset>
            <!-- Name -->
                <fieldset>
                    <label for="name"><span>*</span>Full Name</label>
                    <input type="text" id="name" name="name">

                </fieldset>
            <!-- Email -->
                <fieldset>
                    <label for="email"><span>*</span>Email Address</label>
                    <input type="email" id="email" name="email" placeholder="me@domain.com" >
                </fieldset>
            <h4>Attachments</h4>
            <h6>Configuration and log files</h6>
            <p>You may add debugging files here if you have them. This could include log files or a database dump or any other file used by your system to log error or event messages or record configuration settings.</p>
            <p>File types accepted: .cmap, .proj, .log, .dmp, .dat, .arr, .mdmp, .cfg, .txt</p>
            <p>You can upload up to 3 files here. To add more than one file, browse to the correct folder and then hold down the [shift] or [control] ([command] on Mac) key and select your additional files.</p>
            <!-- File upload -->
            <fieldset>
                <div class="input-group">
                    <input class="input-group-field" type="text" id="file" name="file" >
                    <div class="input-group-button">
                        <label for="debug" class="button">Browse ...</label>
                        <input type="file" id="debug" class="show-for-sr" multiple>
                    </div>
                </div>
            </fieldset>
            <h6>Screenshot</h6>
            <p>If possible please provide a screenshot of the problem. Please ensure your file is in one of the following formats: gif, jpg (or jpeg), png. Other file types will not be accepted.</p>
            <!-- Screenshot upload -->
            <fieldset>
                <div class="input-group">
                    <input class="input-group-field" type="text" id="screenshot" name="file" >
                    <div class="input-group-button">
                        <label for="screen" class="button">Browse ...</label>
                        <input type="file" id="screen" class="show-for-sr">
                    </div>
                </div>
            </fieldset>
        </div>
        <h6>* Detailed description of the problem</h6>
        <p>Please provide as much detail as possible</p>
        <!-- Message -->
        <fieldset>
            <textarea id="message" name="message" rows="8" cols="80"></textarea>
        </fieldset>
        <p class="hide">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <h3>Legal</h3>
        <h6>Age verification</h6>
        <fieldset>
            <div class="grid-x">
                <div class="cell shrink"><input type="checkbox" name="ageverification" id="ageverification" value="0"></div>
                <div class="cell auto"><label for="ageverification" class="checkbox">I confirm that I am over the age of 13</label></div>
            </div>
        </fieldset>
        <h6>Consent</h6>
        <fieldset>
            <div class="grid-x">
                <div class="cell shrink"><input type="checkbox" id="consent" name="consent" value="0"></div>
                <div class="cell auto"><label for="consent"  class="checkbox">I confirm that I am granting Firesprite the right to use my personal data for the purpose of dealing with my support query. I understand that my personal information is only collected, used and disclosed by Firesprite as permitted by law.</label></div>
            </div>
        </fieldset>
        <h6>Privacy Policy</h6>
        <fieldset>
            <div class="grid-x">
                <div class="cell shrink"><input type="checkbox" id="privacy" name="privacy" value="0"></div>
                <div class="cell auto"><label for="privacy"  class="checkbox" >I confirm that I have read and agree to the <a
                        href="/privacy">Privacy Policy</a></label></div>
            </div>
        </fieldset>
        <!-- Button -->
        <div class="tc">
            <button type="submit" class="hollow button m-t-50">Send support request</button>
        </div>
    </form>

</div>

<div id="thanks" class="grid-container full">
    <div class="grid-x">
        <div class="cell">
            <h2>Thank you!!</h2>
            <p>We will get back to you as soon as possible!</p>
            <button class="button continue">Continue</button>
        </div>
    </div>
</div>

<div id="sending" class="grid-container full">
    <div class="grid-x">
        <div class="cell">
            <h2>Sending message...</h2>
            <p>Please wait, do not refresh the page.</p>
        </div>
    </div>
</div>

<div id="error" class="grid-container full">
    <div class="grid-x">
        <div class="cell">
            <h2>Error</h2>
            <p>Oops, something went wrong. Please try again.</p>
            <button class="button continue">Continue</button>
        </div>
    </div>
</div>
