{{$label:= .Button}}
<section>
<div id="{{.Page}}" class="grid-container full block block-image block-section">
    {{with .Context.Site.GetPage .Page}}
    {{$image := .Params.featured_image}}
    <div class="contentWrapper">
        <div class="grid-container">

                <div class="grid-x align-center-middle text-center">
                    <div class="cell small-12 medium-7">
                            <header>
                                <h2>{{.Title}}</h2>
                                <h3>
                                {{.Params.subtitle}}
                                </h3>
                            </header>
                    </div>
                    <div class="cell small-12 medium-8">
                        {{if $label}}
                        <a href="{{.RelPermalink}}" class="white hollow button">{{$label}}</a>
                        {{else}}
                        <a href="{{.RelPermalink}}" class="white hollow button">See all {{.Title}}</a>
                        {{end}}
                    </div>
                </div>
        </div>
    </div>
    {{if(isset $image "src")}}
    <div class="imageWrapper">
        <img src="{{ $image.src }}" alt="{{ $image.alt }}">
        <div class="desktop"  style="background-image: url('{{ $image.src }}')"></div>
    </div>
    {{end}}
{{end}}
</div>
</section>

