<div class="grid-container block full b-c-secondary p-b-50" id="knowledgebase">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center text-center">
            <div class="cell small-12 medium-10 large-8">
                <h2 class="f-c-primary">Knowledgebase</h2>
                We want you to enjoy our games but occasionally things can go wrong. If you’re experiencing an issue with a Firesprite game then please have a look at our Knowledge Base that may contain the answers you need to get things back on track. If you’re still experiencing problems then please don’t hesitate to contact us using the form below. Our support team will do their best to come up with a solution.
            </div>
        </div>
    </div>
<div class="grid-container m-t-b-50">
    <form id="searchform" name="knowledge-search" action="">
        <div class="grid-x grid-padding-x text-center align-center">
            <div class="cell auto">
                <select name="platforms" id="platforms">
                    <option value="all" selected>All Platforms</option>
                    {{range $key, $value := index .Context.Site.Taxonomies  "games/platforms" }}
                    <option value="{{$key}}">{{$key}}</option>
                    {{end}}
                </select>
            </div>
            <div class="cell auto m-b-50">
                <select name="games" id="games">
                    <option value="all" selected>All Games</option>
                    {{$content := where .ctx.Site.RegularPages "Type" "games"}}
                    {{range $content}}
                    <option value="{{.Title}}">{{.Title}}</option>
                    {{end}}
                </select>
            </div>
            <div class="cell small-12">
                <button id="search" class="white hollow button">Search knowledge base</button>
            </div>
        </div>
    </form>
</div>
</div>
