{{$image:= .context.image}}
{{$header:= .header}}
{{ $p := .parallax | default true}}
<article>
<div id="{{.id}}" class="grid-container block {{if( eq .full "true")}}full{{end}} {{if(isset $image "src")}}block-image{{end}}" >

    {{if( eq .full "true")}}
    <div class="contentWrapper">
        <div class="grid-container">
        {{end}}
                <div class="grid-x align-center-middle text-center">
                    <div class="cell small-12 medium-7">

                            <header>
                                {{if($header)}}
                                    <h1>{{.context.title}}</h1>
                                {{else}}
                                    <h2>{{.context.title}}</h2>
                                {{end}}
                            </header>


                    </div>
                    <div class="cell small-12 medium-8">
                        <p>{{.context.body}}</p>
                    </div>
                </div>
        {{if( eq .full "true")}}
        </div>
    </div>
    {{end}}
    {{if(isset $image "src")}}
    <div class="imageWrapper">
        <img src="{{ $image.src }}" alt="{{ $image.alt }}">
        <div class="desktop {{ if .bg_image_mobile }}hide-for-small{{ end }} {{if $p }} rellax {{end}} "  style="background-image: url('{{ $image.src }}')" data-rellax-speed="-7"></div>
    </div>
    {{end}}
</div>
</article>
