<section>
    <div id="news" class="grid-container full block  b-c-secondary text-center">
        <div class="grid-container">
            <h3 class="f-c-primary">Latest News</h3>

            <ul class="taxonomy menu m-b-30">
                <li><a href="/news">All</a></li>
                {{ range $key, $value := index .Site.Taxonomies "news/categories" -}}
                    <li><a href="{{.Page.RelPermalink}}" >{{$key}}</a></li>
                {{ end -}}
            </ul>

            <div class="grid-x grid-padding-x grid-padding  grid-margin-y small-up-1 medium-up-2 large-up-3 text-left">
                {{ range $index, $content := first 3 (where .Site.RegularPages "Type" "news") }}
                <div class="cell i-{{$index}}">
                    {{with $content}}
                    {{ .Render "card"}}
                    {{end}}
                </div>
                {{ end }}
            </div>
        </div>
        <div class="grid-container text-center m-t-100">
            <a href="/news" class="hollow white button large">See All Articles</a>
        </div>
    </div>
</section>
