<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ block "head" . }}{{ partial "head" . }}{{end}}
{{ $currentPage := .Parent }}
<body  class="default {{ if .IsHome }}home{{else}}{{ $section := split .Section "/" }}{{range $section}} {{.}}{{end}}{{end}} {{ if .InSection $currentPage}}{{- .Title | urlize -}}{{end}}" data-animation="true">
{{ partial "old-browser.html" . }}
{{if .Site.Params.preloader }}
<div class="loading">
    <div class="holder">
        <div class="loader">Loading...</div>
    </div>
</div>
{{end}}
<div id="canvas-scroll">
    <div  class="off-canvas-wrapper">

      <div class="off-canvas-content" data-off-canvas-content>

          {{ block "navigation" . }}{{ partial "navigation" (dict "Context" $ "Version" "")}}{{end}}

            <main>
                {{ block "header" . }}{{ partial "header-section"  (dict "Content" . )}}{{end}}
                {{ block "main" . }}{{end}}
            </main>

            {{ block "pusher" . }}{{end}}

            {{ block "footer" . }}{{ partial "footer" . }}{{end}}


      </div>
    </div>
</div>
{{ block "navigation-mobile" . }}{{ partial "navigation-mobile" (dict "Context" $)}}{{end}}
{{ block "foot" . }}{{ partial "foot" . }}{{end}}
</body>
</html>
