<!doctype html>

<html lang="{{ $.Site.Language.Lang }}">
{{ block "baseurl" . }}{{end}}
{{ block "head" . }}{{ partial "head" . }}{{end}}
{{ $currentPage := .Parent }}
<body  class="default {{ if .IsHome }}home{{else}}{{ $section := split .Section "/" }}{{range $section}} {{.}}{{end}}{{end}} {{ if .InSection $currentPage}}{{- .Title | urlize -}}{{end}}" data-animation="true">
{{ partial "old-browser.html" . }}
{{if .Site.Params.preloader }}
<div id="loader-overlay" class="loading">
    <div class="container">
        <div class="holder">
            <div class="loader"><img src="/images/loading.gif" alt="loading"></div>
        </div>
    </div>
</div>
{{end}}
      {{ block "navigation" . }}{{ partial "navigation" (dict "Context" $ "Version" "")}}{{end}}
      {{ block "sub-navigation" . }}{{end}}
      {{ block "social-media" . }}{{partial "social-media" .}}{{end}}
      <main>
            <div id="container-scroll">
                {{ block "header" . }}{{ partial "header-section"  (dict "Content" . )}}{{end}}
                {{ block "main" . }}{{end}}
                {{ block "pusher" . }}{{end}}
                {{ block "footer" . }}{{ partial "footer" . }}{{end}}
            </div>
      </main>


{{ block "navigation-mobile" . }}{{ partial "navigation-mobile" (dict "Context" $)}}{{end}}
{{ block "foot" . }}{{ partial "foot" . }}{{end}}
{{ block "popup" . }}{{end}}
</body>
</html>
