<div class="card card-button" onclick="window.location='{{ .RelPermalink }}';">
        {{ with .Params.featured_image }}
        <div class="card-image-wrapper">
            <img src="{{ .src }}?nf_resize=fit&w=450&h=253" alt="{{.alt}}">
        </div>
        {{end}}
        <div class="card-section">
            <div>
                    <header>
                        <h4>{{ with .Params.date }}<small>{{ .Format "2 January 2006"  }}</small>{{end}}<a href="{{.RelPermalink}}">{{ .Title }}</a></h4>
                    </header>
            </div>
        </div>
</div>


