.accordion {
  .accordion-content{
    padding: 1rem 0 1rem 0;
    .menu {
      margin-bottom: 0!important;
      a{
        padding-left:0;
        color: black;
      }
    }
  }
  .accordion-item{
    a{
      display: flex;
      align-items: center;
      font-family: $header-font-family;
      font-weight: 700;
      vertical-align: middle;
    }
  }


}
