.menu{
  li{
    a{
      font-weight: 700;
      text-transform: uppercase;
      color: $white;
      transition: 0.5s all ease-in-out;

      &:hover {
        color: $primary-color;
        transition: 0.5s all ease-in-out;
      }

      &:visited {
        transition: 0.5s all ease-in-out;
      }
    }
  }
  &:not(.vertical) {
    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
}

.secondary{
  &.menu{
    flex-wrap: nowrap;

    @include breakpoint(small only){
      li{
        &:first-child{
          a{
            padding-left: 0;
          }
        }
      }
    }

    @include breakpoint(medium) {
      justify-content: flex-end;
    }

    li {
      a {
        text-transform: none;
        font-weight: normal;
        color: $primary-color;
        padding: 0.2rem 0.8rem;

        &:hover {
          color: $white;
        }

        &:visited {
          color: $primary-color;
        }
      }

      &:last-child{
        a{
          padding-right: 0;
        }
      }
    }
  }
}

.vertical {
  &.menu {
    padding-bottom: rem-calc(10);
    li{
      width: 100%;
      padding: 0;
      margin: 0;

      a{
        line-height: rem-calc(20);
        vertical-align: middle;
      }

      &:first-child {
        a {
          padding-top: 0;
        }
      }
    }
  }
}

.secondary {
  .menu{
    li {
      @include breakpoint(small only){
        a {
          padding-left: 0;
        }
      }
    }
  }
}

.footer-menu{
  li{
    a {
      padding-left: 0;
    }
  }
}



.oembed-wrapper {
  .oembed-item-wrapper{
    text-align: center;
    border-bottom: 1px solid $medium-gray;
    &:last-child {
      border-bottom: none;
    }
    a{
      color: $primary-color !important;
      font-family: $header-font-family;
      font-weight: bold;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(2);
      text-transform: uppercase;
      line-height: rem-calc(20);
      vertical-align: middle;
      transition: 0.5s all ease-in-out;

      &:hover {
        color: $black!important;
        transition: 0.5s all ease-in-out;
      }

      &:visited {
        color: $primary-color !important;
      }
    }
  }
}


.off-canvas {
  img{
    width: 30px;
    max-width: 30px;
    margin: 15px;
  }
  ul{
    margin-top: 20px;
    padding-top: 15px;
    text-align:  center;
    margin: 0 auto;

    li {

    }
  }

  .off-canvas-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $black;
  }

  .vertical.menu{
    margin-top:150px;
  }

  .vertical.menu li {
    @include breakpoint(medium) {
      padding: 15px 30px;
    }
    a {
      color: $white;
      @include breakpoint(medium) {
        font-size: rem-calc(40);
      }

      &:visited {
        color: $white;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}


