.pagination{
  display: flex;
  .pagination__item {
    display: flex;
    font-family: $header-font-family;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: rem-calc(50);
    height: rem-calc(50);
    margin-right: rem-calc(5);

    &:not(.current) {
      background-color: $dark-gray;
    }

    &:hover {
      background-color: $primary-color;
    }
  }
  li:first-child, li:last-child {
    display: flex;
  }
}

#next-article{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &:after {
    @include pseudo();
    width: 100%;
    height: 100%;
    top:0;
    z-index: 1;
    background-blend-mode: darken;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  }

  .content{
    position: relative;
    z-index: 2;
  }

  h2{
    @extend h1;
    color: $white;
  }
}

