.side-nav{
  position: fixed;
  top: 0;
  width:1px;
  height: 100vh;
  overflow: visible;
  z-index: 100;

  .holder{
    position: relative;
    height: 100vh;

    > div{

      @include center('vertical');
    }
  }

  &.left{
    left: 0;
    .holder{
      > div{
        //position: fixed;
        left: 10px;
        width: auto;
      }
    }
  }
  &.right{
    right:0;
    .holder{
      > div{
        right: 0;
        width: auto;
      }
    }
  }
}

#sub-nav{

  li{
    margin-bottom: rem-calc(10);
    overflow: hidden;
    &:before{
      @include pseudo();
      margin-top: rem-calc(2);
      width: 4px;
      height: rem-calc(16);
      background-color: $white;
    }

    a{
      margin-left: -100%;
      transition: 500ms margin-left ease-in-out;
    }

    &:hover{
      a{
        margin-left: 0;
        transition: 500ms margin-left ease-in-out;
      }
    }

  }

  a{
    padding: 0 rem-calc(4) 0 rem-calc(10);
    white-space: nowrap;
  }
}
