.side-nav{
  position: fixed;
  top: 0;
  width:1px;
  height: 100vh;
  overflow: visible;
  background-color: green;
  z-index: 9999;

  .holder{
    position: relative;
    height: 100vh;

    > div{
      position: absolute;
      @include center('both');
    }
  }

  &.left{
    left: 0;
    .holder{
      > div{
        left: 10px;
      }
    }
  }
  &.right{
    right:0;
    .holder{
      > div{
        right: 10px;
        width: 150px;
      }
    }
  }
}
