<div class="grid-container block full b-c-secondary p-b-50 p-t-10" id="knowledgebase">
  <div class="grid-container">
    <form name="knowledge-search" [formGroup]="searchForm">
      <div class="grid-x grid-padding-x text-center align-center">
        <div class="cell auto">
          <select name="plaforms" id="platforms"  formControlName="platforms">
            <option [ngValue]="'all'" selected="">All Platforms</option>
            <option *ngFor="let item of platforms" [value]="item" >{{item | platformName}}</option>
          </select>
        </div>
        <div class="cell auto">
          <select name="games" id="games" formControlName="games">
            <option [ngValue]="'all'" selected="">All Games</option>
            <option *ngFor="let item of games" [ngValue]="item" >{{item}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>

</div>
