<div class="grid-container block full b-c-secondary p-b-50" id="knowledgebase">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center">
      <div class="cell small-12 medium-10 large-8">
        We want you to enjoy our games but occasionally things can go wrong. If you’re experiencing an issue with one of our games then please have a look at our Knowledge Base that may contain the answers you need to get things back on track. If you’re still experiencing problems then please don’t hesitate to contact us using the form below. Our support team will do their best to come up with a solution.
      </div>
    </div>
  </div>
  <div class="grid-container m-t-50">
    <form name="knowledge-search" [formGroup]="searchForm">
      <div class="grid-x grid-padding-x text-center align-center">
        <div class="cell auto">
          <select name="plaforms" id="platforms"  formControlName="platforms">
            <option [ngValue]="'all'" selected="">All Platforms</option>
            <option *ngFor="let item of platforms" [value]="item" >{{item | platformName}}</option>
          </select>
        </div>
        <div class="cell auto">
          <select name="games" id="games" formControlName="games">
            <option [ngValue]="'all'" selected="">All Games</option>
            <option *ngFor="let item of games" [ngValue]="item" >{{item}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>

</div>
