<div class="grid-container block full b-c-secondary p-b-50" id="knowledgebase">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center text-center">
      <div class="cell small-12 medium-10 large-8">
        At Firesprite, we beilieve in giving everyone the freedom to express themselves and to take ownership of the creation of our games. Your talent and passion will drive the quality of everything we do. Best of all, you will get to work with a dedicated, talented, and fun-loving team in an inclusive and creative environment.
      </div>
    </div>
  </div>
  <div class="grid-container m-t-50">
    <form name="knowledge-search" [formGroup]="searchForm">
      <div class="grid-x grid-padding-x text-center align-center">
        <div class="cell auto">
          <select name="plaforms" id="platforms"  formControlName="platforms">
            <option [ngValue]="'all'" selected="">All Platforms</option>
            <option *ngFor="let item of platforms" [value]="item" >{{item}}</option>
          </select>
        </div>
        <div class="cell auto">
          <select name="games" id="games" formControlName="games">
            <option [ngValue]="'all'" selected="">All Games</option>
            <option *ngFor="let item of games" [ngValue]="item" >{{item}}</option>
          </select>
        </div>
        <!--
        <div class="cell small-12">
          <button class="white hollow button">Search knowledge base</button>
        </div>
        -->
      </div>
    </form>
  </div>

</div>
