{{ define "header" }}
{{ partial "header-hero"  (dict "Content" . )}}
{{end}}
{{ define "navigation"}}
{{ partial "navigation" (dict "Version" "trans" "Context" .) }}
{{end}}
{{ define "sub-navigation"}}
{{$list := (where .Pages.ByDate.Reverse "Type"  "games" )}}
{{ partial "navigation-sub" (dict "Context" $ "Menu" $list) }}
{{end}}
{{ define "main" }}
    {{$list := (where .Pages.ByDate.Reverse "Type"  "games" )}}
    {{range $index, $content := $list}}
        {{with $content}}
        <div id="trigger-{{ $index }}">
            <div id="section-{{ $index}}">
                    {{ .Render "summary" }}
            </div>
        </div>
        {{end}}

    {{end}}
{{end}}
