{{ define "header" }}
{{ partial "header-hero"  (dict "Content" . )}}
{{end}}
{{ define "navigation"}}
{{ partial "navigation" (dict "Version" "trans") }}
{{end}}
{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<article>
    <section>
        <div class="grid-container full b-c-secondary"  id="root" >
          <div class="grid-container overview">
            <div class="grid-x">
              <div class="cell small-12 large-3">
                  <ul class="no-bullet facts-sheet">
                      <li>
                          <h6>Genre</h6>
                          <p>{{.Params.genre}}</p>
                      </li>
                      {{with .Param "games/platforms"}}
                      <li>
                          <h6>Platforms</h6>
                              <p class="platforms">{{range $index, $platform := .}}{{if ne $index 0}}, {{end}}{{- $platform -}}{{end}}</p>
                      </li>
                      {{end}}
                      {{with .Params.players}}
                      <li>
                          <h6>Players</h6>
                          <p>{{- . -}}</p>
                      </li>
                      {{end}}
                      {{with .Params.ratings}}
                      <li>
                          <h6>Ratings</h6>
                          <p>{{- . -}}</p>

                      </li>
                      {{end}}
                  </ul>


              </div>
              <div class="cell small-12 large-9">

                  <h2>Overview</h2>
                  {{- .Content -}}

              </div>
            </div>
          </div>
        </div>
    </section>
    {{with .Params.features}}
    <section>
        <div id="features" class="grid-container block full b-c-primary" >
            <div class="grid-container">
                <h2>Features</h2>
                <div class="grid-x grid-padding-x small-up-1 medium-up-3">

                        {{range .}}
                        <div class="cell">
                            <h4>{{.title}}</h4>
                            <p>{{.body}}</p>
                        </div>
                        {{end}}

                </div>
            </div>
        </div>
    </section>
    {{end}}
    <section>
        {{partial "media-tab" .}}
    </section>

</article>
    {{partial "pagination" . }}
{{ end }}

{{define "popup"}}
<div id="buy-popup" class="overlay-popup">
    <div class="overlay-popup-content">
        <div class="grid-container text-center">
            <h3>Buy Now</h3>
            <h2>{{.Title}}</h2>
            <p>Choose your platform</p>
            <div class="grid-x grid-padding-x">

                {{with .Param "games/platforms"}}
                    {{range $index, $platform := .}}{{if ne $index 0}}, {{end}}
                        <div class="cell auto">
                            {{ $c = .}}
                            {{range $index, $p := .Site.Data.platforms}}
                            if()
                            <img src="{{.icon}}" alt="{{.name}}">
                            {{end}}
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}
