
{{ define "main" }}
<div class="grid-container full b-c-secondary"  id="root" >
    <section>
        {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "news")}}
        <div id="news" class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 medium-9">
                    <h2>Latest News</h2>
                    <ul class="menu">
                        <li><a href="/news">All</a></li>
                    {{ range $key, $value := index .Site.Taxonomies "news/categories" -}}
                        <li><a href="{{.Page.RelPermalink}}">{{$key}}</a></li>
                    {{ end -}}
                    </ul>
                        {{ range $index, $content := $paginator.Pages }}
                            {{with $content}}
                                {{ .Render "summary" }}
                            {{end}}
                        {{ end -}}
                    <div class="grid-x align-center-middle">
                        <div class="cells shrink">
                            {{ partial "paginator.html" . }}
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-3 white-aside">
                    <aside>
                        <h4>Archives</h4>
                        {{ $type := .Type }}
                        {{ $year := "" }}
                        {{ $.Scratch.Set "count" 1 }}
                        {{ $.Scratch.Set "monthCount" 1 }}
                        {{ $.Scratch.Set "year" "" }}
                        {{ $.Scratch.Set "month" "" }}
                        <ul class="accordion" data-accordion>
                        {{ range (.Site.RegularPages.GroupByDate "2006") }}
                            {{ if (gt .Key 2000) }}
                                {{ range (where .Pages "Type" $type) }}
                                        {{ if (eq ($.Scratch.Get "count") 1) }}
                                            {{ $.Scratch.Set "count" 0 }}
                                            {{ $.Scratch.Set "year" (.Date.Format "2006") }}

                                        {{ end }}
                                {{ end }}

                                {{ $.Scratch.Set "count" 1 }}

                                {{ $list:= (where .Pages "Type" $type)}}

                            <li class="accordion-item" data-accordion-item> <a href="#" class="accordion-title">{{ $.Scratch.Get "year" }}({{len $list}})</a>

                                   <div class="accordion-content" data-tab-content>
                                        <ul class="accordion" data-accordion>
                                            {{ range ($list.GroupByDate  "Jan" ) }}
                                                {{ range .Pages}}
                                                        {{ if (eq ($.Scratch.Get "monthCount") 1) }}
                                                            {{ $.Scratch.Set "monthCount" 0 }}
                                                            {{ $.Scratch.Set "month" (.Date.Format "January") }}

                                                        {{end}}
                                                {{end}}
                                                {{ $.Scratch.Set "monthCount" 1 }}
                                                {{ $listMonth:= (where .Pages "Type" $type)}}
                                            <li class="accordion-item" data-accordion-item><a href="#" class="accordion-title">{{ $.Scratch.Get "month" }}({{len $listMonth}})</a>
                                                <div class="accordion-content" data-tab-content>
                                                    {{with $listMonth}}
                                                    <ul>
                                                        {{range . }}
                                                            <li><a href=".RelPermalink">{{.Title}}</a></li>x
                                                        {{end}}
                                                    </ul>
                                                    {{end}}
                                                </div>
                                            </li>
                                            {{end}}
                                        </ul>
                                   </div>
                               </li>
                            {{ end }}
                        {{ end }}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}

