{{ define "main" }}
<div class="grid-container full b-c-secondary"  id="root" >
    <section>
        {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "news")}}
        <div id="news" class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 medium-8 large-9">
                    <h2>Latest News</h2>
                        {{ "<!-- Taxonomy Menu -->" | safeHTML }}
                        {{partial "taxonomy-menu" (dict "Context" . "Tox" "news/categories") }}
                        {{ "<!-- /Taxonomy Menu -->" | safeHTML }}
                        {{ "<!-- News List -->" | safeHTML }}
                        {{ range $index, $content := $paginator.Pages }}
                            {{with $content}}
                                {{ .Render "summary" }}
                            {{end}}
                        {{ end -}}
                         {{ "<!-- /News List -->" | safeHTML }}
                    <div class="grid-x align-center-middle">
                        <div class="cells shrink">
                            {{ partial "paginator.html" . }}
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-4 large-3 white-aside">
                    {{ "<!-- Archive Menu -->" | safeHTML }}
                    <aside>
                        {{partial "archive-menu" .}}
                    </aside>
                    {{ "<!-- /Archive Menu -->" | safeHTML }}
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}

