{{ define "main" }}
<div class="grid-container full b-c-white"  id="root" >
    <div class="grid-container">
        <div class="block grid-x grid-padding-x grid-margin-y align-center">
            <div class="cell small-12 medium-8 text-center">
                {{- .Content -}}
            </div>
        </div>
        {{"<!-- Form -->" | safeHTML}}
        <div class="grid-x grid-padding-x grid-margin-y">
            <div class="cell small-12">
                {{ partial "support-form" . }}
            </div>
        </div>
        {{"<!-- /Form -->" | safeHTML}}
    </div>
</div>
{{"<!-- Knowledgebase nav -->" | safeHTML}}
<div class="grid-container block full b-c-secondary"  id="knowledgebase" >
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center text-center">
            <div class="cell small-12 medium-8">
                <h2 class="f-c-primary">Knowledgebase</h2>
                At Firesprite, we beilieve in giving everyone the freedom to express themselves and to take ownership of the creation of our games. Your talent and passion will drive the quality of everything we do. Best of all, you will get to work with a dedicated, talented, and fun-loving team in an inclusive and creative environment.
            </div>
        </div>
    </div>
    {{ partial "knowledgebase-search" . }}
</div>
{{"<!-- /Knowledgebase nav -->" | safeHTML}}
{{ end }}
