{{define "baseurl" }}
<base href="/support">
{{end}}
{{ define "main" }}

{{"<!-- Knowledgebase nav -->" | safeHTML}}

{{ partial "knowledgebase-search" (dict "Context" . "ctx" $) }}

{{"<!-- /Knowledgebase nav -->" | safeHTML}}

{{"<!-- Support  Request -->" | safeHTML}}

<div class="grid-container block full b-c-secondary p-b-50" id="knowledgebase">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center text-center">
            <div class="cell small-12 medium-10 large-8">
                <h2 class="f-c-primary">{{.Params.request_header}}</h2>
                <p>{{.Params.request_body}}</p>
                <a href="/support/request" class="hollow button white">{{.Params.request_button}}</a>
            </div>
        </div>
    </div>
</div>

{{"<!-- /Support  Request -->" | safeHTML}}
{{ end }}
