.games{
    .overview {
      h2, h6 {
        color: $primary-color;
      }

      h6 {
        margin-bottom: rem-calc(14);
      }

    }
}

.facts-sheet {
  .platforms{
    text-transform: capitalize;
  }
  .li {
    margin-bottom: rem-calc(60);
  }
  @include breakpoint(small){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(large){
    display: block;
  }
}


#features{
  h2{
    color: $black;
  }
}
