#root{
  padding-top: rem-calc(90);
  padding-bottom: rem-calc(90);

  &.b-c-white:first-child {
    background-image: url("/images/bg-white.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &.b-c-secondary:first-child {
    background-image: url("/images/bg-black.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
