.support{
  h4{
    color: $primary-color;
  }

  h6{
    color: $black;
  }

  label{
    &.checkbox {
      text-transform: none;
      font-size: 1rem;
      margin-left: 0.83333rem;
      margin-right: 1.66667rem;
      font-family: $body-font-family;
      font-weight: normal;
      line-height: rem-calc(20);
      margin-bottom: rem-calc(20);
    }

    &.button{
      background-color: $medium-gray;
      font-family: $body-font-family;
      padding: rem-calc(17 30);
    }
  }
 [type='checkbox'] {
   margin: 0;
   vertical-align: top;
 }

  .error{

  }
}


#knowledge-result{

  h4{
    color: $primary-color;
  }

  .accordion-title{
    background-color: $light-gray;
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    text-transform: uppercase;
    font-family: $header-font-family;
    font-size: rem-calc(14);
    letter-spacing: rem-calc(2);

    &:before {
      margin-right: 18px;
    }

  }

  accordion{
    > * {
      &:nth-child(even){
        .accordion-title{
          background-color: $white;
        }
      }
    }
  }
}
