.support{
  h4{
    color: $primary-color;
  }

  h6{
    color: $black;
  }

  label{
    &.checkbox {
      text-transform: none;
      font-size: 1rem;
      margin-left: 0.83333rem;
      margin-right: 1.66667rem;
      font-family: $body-font-family;
      font-weight: normal;
      line-height: rem-calc(20);
      margin-bottom: rem-calc(20);
    }

    &.button{
      background-color: $medium-gray;
      font-family: $body-font-family;
      padding: rem-calc(17 30);
    }
  }
 [type='checkbox'] {
   margin: 0;
   vertical-align: top;
 }

  .error{

  }
}


.support-intro {
  padding-bottom: 0 !important;
}



#knowledge-result{

  h4{
    color: $primary-color;
  }

  .panel{
    @extend .accordion-item;
    border-radius: unset;
    .card{
      margin-bottom: 0;
    }
  }

  :last-child:not(.is-active) > .panel-heading {
    border-radius: unset;
  }

  .panel-heading{
    @extend .accordion-title;
    border-radius: unset;
    background-color: $light-gray;
    font-size: rem-calc(14);

    padding: 1.33333rem rem-calc(20);

    button{
      text-transform: uppercase;
      letter-spacing: 0.11111111rem;
      font-family: $header-font-family;
      text-align: left;
      padding-right: rem-calc(35);
    }


    &:hover{
      background-color: $light-gray;

      button{
        color: $primary-color;
      }
    }

    &:before {
      margin-right: 18px;
      right: 0;
      font-weight: bold;
      font-size: 2.22222222rem;
      margin-top: -1.11111111rem;
    }

  }

  .panel-collapse {
    @extend .accordion-content
  }

  .panel-group{

     border-radius: unset;

    > .panel {
      &:nth-child(even){
        .panel-heading{
          background-color: $white;
          &:hover{
            background-color: $white;
          }
        }
      }
    }
  }
}
