{{ define "header" }}
{{ partial "header-hero"  (dict "Content" . )}}
{{end}}
{{ define "navigation"}}
{{ partial "navigation" (dict "Version" "trans" "Context" .) }}
{{end}}
{{ define "main" }}
{{if .Params.intro.show }}
<section>
    <div id="root" class="grid-container full b-c-white" >

        {{partial "blocks/block-image-text" (dict "context" .Params.intro "id" "intro" "full" "false" "header" "h1")}}

        {{with .Params.intro.about}}
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-2 align-center">
                {{range . }}
                <div class="cell">
                    <div class="card b-c-primary">
                        {{with .image}}
                        <div class="card-image-wrapper">
                            <img src="{{.src}}" alt="{{.alt}}">
                        </div>
                        {{end}}
                        <div class="card-section">
                            <h3>{{.title}}</h3>
                            <p>{{.body}}</p>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</section>
{{end}}
{{if .Params.team.show }}
<section>
    {{partial "blocks/block-image-text" (dict "context" .Params.team "id" "intro" "full" "true")}}
    {{partial "testimonials" . }}
</section>
{{end}}
<section>
{{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "careers")}}
    <div id="careers" class="grid-container block full b-c-white">

        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell small-12 medium-8">
                    <h2>Job vacancies</h2>
                    <p>If you think Firesprite sounds like the right place for you, then check out our available opportunities. We will consider remote working on a case by case basis if the role permits and if you have a right to work in the UK. If you don’t see something that matches your skills, don’t worry, just use the open application - our door is always open for superstars!</p>
                    <ul class="accordion" data-accordion data-multi-expand="true" data-update-history="true">
                        {{ range $key, $value := index .Site.Taxonomies "careers/categories"}}
                        <li class="accordion-item is-active" data-accordion-item>
                            <a href="#" class="accordion-title"><h4>{{$key}}<span class="badge">{{len $value.Pages}}</span></h4></a>
                            <div class="accordion-content" data-tab-content>
                                <ul>
                                    {{range $index, $element := $value.Pages}}
                                        {{with $element}}
                                            <div class="job-title">
                                                <a href='{{ .Permalink }}' data-job="{{$key}}-{{$index}}"><h5>{{.Title}}</h5><span>{{if(eq .Params.position_type "full")}}Full Time{{else}}Part Time{{end}}</span></a>
                                            </div>
                                        {{end}}
                                    {{end}}
                                    <li>
                                        <div class="job-title open">
                                            <a href='mailto:jobs@firesprite.com?subject={{$key}}'><h5>Open application</h5></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <script type="application/javascript">
            window.jobData = [
             {{ range $key, $value := index .Site.Taxonomies "careers/categories"}}
                {{range $index, $element := $value.Pages}}
                    {
                      id: '{{$key}}-{{$index}}',
                      title: '{{ $element.Title }}',
                      category: '{{$key}}',
                      email: '{{$element.Params.email}}',
                      position: '{{$element.Params.position_type}}',
                      content: {{- .Content  | markdownify -}}
                    },
                {{end}}
            {{ end }}
            ]
        </script>
</section>

{{ end }}
{{define "popup"}}
<div class="overlay-popup">
    <div class="overlay-job">
        <div class="overlay-content-block">
            <div class="overlay-content-header">
                <div class="overlay-header">

                </div>
                <div class="overlay-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                        <g fill="none" fill-rule="evenodd">
                            <path stroke="#FFF" stroke-width="4" d="M2 2H68V68H2z"/>
                            <path fill="#FFF" d="M49 25.023L45.977 22 36 31.977 26.023 22 23 25.023 32.977 35 23 44.977 26.023 48 36 38.023 45.977 48 49 44.977 39.023 35z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="overlay-content-wrapper">
                <div class="overlay-content-body">
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{ end }}


