{{ define "header" }}
{{ partial "header-hero"  (dict "Content" . )}}
{{end}}
{{ define "navigation"}}
{{ partial "navigation" (dict "Version" "trans" "Context" .) }}
{{end}}
{{ define "main" }}
{{if .Params.intro.show }}
<section>
    <div id="root" class="grid-container full b-c-white" >

        {{partial "blocks/block-image-text" (dict "context" .Params.intro "id" "intro" "full" "false" "header" "h1")}}

        {{with .Params.intro.about}}
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-2 align-center">
                {{range . }}
                <div class="cell">
                    <div class="card b-c-primary">
                        {{with .image}}
                        <div class="card-image-wrapper">
                            <img src="{{.src}}" alt="{{.alt}}">
                        </div>
                        {{end}}
                        <div class="card-section">
                            <h3>{{.title}}</h3>
                            <p>{{.body}}</p>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</section>
{{end}}
{{if .Params.team.show }}
<section>
    {{partial "blocks/block-image-text" (dict "context" .Params.team "id" "intro" "full" "true")}}
    {{partial "testimonials" . }}
</section>
{{end}}
<section>
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "careers")}}

    <div id="careers" class="grid-container block full b-c-white">

        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell small-12 medium-8">
                    <h2>Job vacancies</h2>
                    <p>If you think Firesprite sounds like the right place for you, then check out our available opportunities. If you don’t see something that matches your skills, don’t worry, just use the open application - our door is always open for superstars!</p>
                    <ul class="accordion" data-accordion>
                        {{ range $key, $value := index .Site.Taxonomies "careers/categories"}}
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title"><h4>{{$key}}<span class="badge">{{len $value.Pages}}</span></h4></a>
                            <div class="accordion-content" data-tab-content>
                                <ul>
                                    {{range $value.Pages}}
                                        {{.Render "summary"}}
                                    {{end}}
                                    <li>
                                        <div class="job-title open">
                                            <a href='mailto:jobs@firesprite.com?subject={{$key}}'><h5>Open application</h5></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

