{{ define "header" }}
{{ partial "header-single"  (dict "Content" . )}}
{{end}}
{{ define "navigation"}}
{{ partial "navigation" (dict "Version" "trans") }}
{{end}}
{{ define "main" }}
<section>
    <div id="root" class="grid-container full b-c-white" >
        {{partial "blocks/block-image-text" (dict "context" .Params.intro "id" "intro" "full" "false" "header" "h1")}}
        {{with .Params.intro.about}}
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-2 align-center">
                {{range . }}
                <div class="cell">
                    <div class="card b-c-primary">
                        {{with .image}}
                        <div class="card-image-wrapper">
                            <img src="{{.src}}" alt="{{.alt}}">
                        </div>
                        {{end}}
                        <div class="card-section">
                            <h3>{{.title}}</h3>
                            <p>{{.body}}</p>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</section>
<section>
    <div id="values" class="grid-container block full b-c-dark-gray" >
        {{partial "blocks/block-image-text" (dict "context" .Params.values  "full" "false" )}}
        {{with .Params.values.values}}
            {{range $i, $e := . }}
                <div id="values-list" class="grid-container">
                    <div class="grid-x align-center text-center">
                            <div class="cell small-12 medium-6">
                                <article>
                                    {{if $i }}
                                    <i><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill="#E74F4F" fill-rule="evenodd" d="M29 0v21h21v7H29v22h-7V28H0v-7h22V0h7z"/>
                                    </svg></i>
                                    {{end}}
                                    <h3>{{$e.title}}</h3>
                                    <p>{{$e.body}}</p>



                                </article>
                            </div>
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>
</section>
<section>
        {{partial "blocks/block-image-text" (dict "context" .Params.team "id" "intro" "full" "true")}}
</section>
<section>
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "careers")}}

    <div id="careers" class="grid-container block full b-c-white">

        <div class="grid-container m-b-100">
            <h2>Job vacancies</h2>
        </div>

        <div class="grid-x grid-padding-x grid-margin-y small-up-1 medium-up-2 large-up-4 align-center text-center">
            {{ range $index, $content := $paginator.Pages }}
                {{with $content}}
                    <div class="cell">
                        {{ .Render "summary" }}
                    </div>
                {{end}}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

