{{ define "header" }}
    {{ partial "header-hero"  (dict "Content" . "ctx" $)}}
{{end}}
{{ define "navigation"}}
    {{ partial "navigation" (dict "Version" "trans" "Context" .) }}
{{end}}
{{ define "main" }}
    {{ partial "blocks/block-section" (dict "Context" . "ctx" $ "Page" "work"  )}}
    {{if .Params.news_active }}
        {{ partial "blocks/block-latest-news" .}}
    {{end}}
    {{if not .Params.featured.featured_game_active }}
        {{ partial "blocks/block-section" (dict "Context" . "ctx" $ "Page" "games"  )}}
    {{else}}
        {{ partial "blocks/block-featured-game-section" (dict "Context" . "ctx" $ ) }}
    {{end}}
    {{ partial "blocks/block-section" (dict "Context" . "ctx" $ "Page" "careers" "Button" "Work with us" )}}
{{ end }}
{{define "popup"}}
    {{if .Params.twitter_active}}
    <div id="tweet-modal" class="modal tweet-container">
        <div class="modal-header">
            <h6><span><i class="fab fa-twitter"></i></span>Twitter</h6>
            <div><button class="close"><i class="fas fa-times"></i></button></div>
        </div>
        <div id="twitter-feed" class="modal-content" data-feed="firespritegames" data-maxtweets="1">
            <p></p>
        </div>
    </div>
    {{end}}
{{end}}
